{% extends 'base.html' %}

{% block head%}
<title>Billing app</title>
{%endblock%}

{% block body%}
<header>
    <h1>Bill</h1>
</header>
<div>
    <main>
        <form action ='/' method="POST">
            <label for="windows">Number of Windows</label><br>
            <input type="text" id="windows" name="windows"><br>
            <label for="entry_doors">Number of Entry Doors</label><br>
            <input type="text" id="entry_doors" name="entry_doors"><br>
            <label for="french_doors">Number of French Doors</label><br>
            <input type="text" id="french_doors" name="french_doors"><br>
            <label for="sgd">Number of Sliding Glass Doors </label><br>
            <input type="text" id="sgd" name="sgd"><br>
            <label for="sgd_extra">Number of Extra Sliding Glass Door Panels</label><br>
            <input type="text" id="sgd_extra" name="sgd_extra"><br>
            <label for="extra_labor">Hours of Extra Labor</label><br>
            <input type="text" id="extra_labor" name="extra_labor"><br>
            <label for="receipts">Receipts Total</label><br>
            <input type="text" id="receipts" name="receipts"><br>
            <label for="measure">Measure?</label><br>
            <input type="text" id="measure" name="measure"><br>
            <input type="submit"></input>
        </form>
    </main>
</div>
{%endblock%}
